snippet com "Standard functional Typescript React component" b
import React, { FC, ReactElement } from "react";

interface Props {
}

const ${1:`!v expand('%:t:r')`}: FC<Props> = ({ }): ReactElement => {
  return (
    <div>
    </div>
  );
};

export default ${1:`!v expand('%:t:r')`};
endsnippet
