snippet com "Standard functional React component" b
import React from "react"

type Props = {
};

const ${1:`!v expand('%:t:r')`}: React.FC = (props: Props) => {
	return (
		<div>
		</div>
	);
};

export default ${1:`!v expand('%:t:r')`};
endsnippet
